
<div class="flex-container navbar">
  <div class="lists-left">
    
      <a routerLink="/lists"><i class='fas fa-list'></i>SAVED LISTS</a>
     
    
      <a routerLink="/filters"> <i class='fas fa-filter'></i>SAVED FILTERS</a>
      
      <a routerLink="/history"><i class='fas fa-history'></i> SEARCH HISTORY</a>
  </div>

  <div class="search">
    <input type="text" class="form-control searchbox" placeholder="Search" >
  </div>
</div>

<div class="table">
  
  
    <router-outlet></router-outlet>
 
  
</div>